<div class="container">
    <div class="row">
        <div id="bio">
            <h1>HELLO MY NAME IS</h1>
            <h2>CONNOR McCARTHY <span>&</span></h2>
            <h2>I'M A SOFTWARE DEVELOPER</h2>
            <hr>
            <p>I'm an enthuiastic software developer who is dedicated to my craft. I fell in love with programming
                and haven't looked back. You can find my recent projects on <a href="https://github.com/Connor85"
                    target="_blank">Github</a>
                or if you're intrested reach out
                to me <a href="mailto:connormccarthy8@gmail.com?" target="_top">here</a>
                for more information</p>
            <hr>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                a type specimen
                book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially
                unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                passages, and
                more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div id="head-shot">
        </div>
    </div>